parameters:
  level: 6
  paths:
    - controllers
    - models
    - components
    - migrations
  bootstrapFiles:
    - phpstan-bootstrap.php
  excludePaths:
    - vendor
    - runtime
    - tests
  reportUnmatchedIgnoredErrors: true
